body {
  background: #154360;
}

.img-logo {
  margin-top: 10px;
  height: 80%;
  border-radius: 10px;
}

.img-social {
  width: 40px;
  height: 40px;
  margin-top: 70px;
}

header {
  background: #5DADE2;
}

.contenido {
  margin-top: 15px;
  margin-bottom: 15px;
  background: #45B39D;
  border-radius: 10px;
}

.navbar-menu {
  background: #F8C471;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post {
  border-right: 1px solid black;
  padding: 10px;
}

.comentarios {
  margin-top: 40px;
  margin-bottom: 80px;
}

.comentarios textarea {
  width: 100%;
  border-radius: 5px;
  background: #45B39D;
  color: black;
}

.boton-focus .form-control:focus {
  border: 1px solid #8bc34a;
  box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-thumbnail {
  margin: 10px;
}
