body {
  background: url("../img/fondo.jpg") no-repeat fixed;
  background-size: cover;
}

.tituloblog {
  color: white;
}

.header1 {
  min-height: 120px;
}

.cuerpo {
  min-height: 600px;
}

.fondo-contenedor {
  background-color: rgba(25,111,61,0.5);
}

.menu-vertical {
  background: #7DCEA0;
  width: 100%;
  height: 50px;
  margin-top: 3px;
  border-radius: 5px;
}

.busqueda {
  padding-top: 2em;
}

.menu {
  padding-top: 1em;
}

.favoritos {
  padding-top: 2em;
}

.historial {
  padding-top: 3em;
}

.imagenes-menu {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 25%;
}

.color-primary {
  background-color: rgba(115,198,182,0.8);
  margin-top: 15px;
  border-radius: 5px;
}

.color-secundario {
  background-color: #F7DC6F;
  margin-top: 15px;
  border-radius: 5px;
  text-align: justify;
}

.img-titulo-publicacion {
  width: 100%;
}

.comentarios-public {
  border-radius: 5px;
  background-color: #F7DC6F;
  min-height: 125px;
}

.img-comentarios {
  float: left;
  padding-right: 20px;
}
